/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --violet: #9356DC ;
    --rose:#FF79DA;
    --bleu:#99E2D0;
  }

  body{
    font-family: 'Roboto', sans-serif;
  }

  /* les animations cards*/

  .anim1{
    animation: menu 1s ease-in-out 0.0s 1 normal ; 
    /* ease-in-out : Le départ et la fin sont lents */
}

.anim2{
    animation: menu 1s ease-in-out 0.1s 1 normal ;
    /* normal= direction */
}

.anim3{
    animation: menu 1s ease-in-out 0.2s 1 normal;
}

@keyframes menu {
    0% {
      opacity: 0;
      transform: translateY(20px);
      /* apparait bar par bar */
    }
    /* disparition et apparition */
  
    100% {
      opacity: 1;

    }
    /* apparition vers le haut avec la vitesse */
  }

  /* animation du bouton */

    button:hover{
        transform: scale(1.05);
        /* grossis bouton */
        animation: dark-shadow forwards;
        transition: transform 350ms;
        /* temps du zoom */
        opacity: 0.7;
    }
    
    @keyframes dark-shadow{
        0% {
            box-shadow: 0.5rem 0.5rem 1rem #bdbdbd;
        }
        100% {
            box-shadow: 0.5rem 0.5rem 1rem #8a8a8a;
            /* taille responsive */
        }  
    }

  /* heart */
 .icone:hover .empty{
    animation: full 350ms ease-in-out forwards ;
}
@keyframes full{
    0% {
        opacity: 0;
    }
            100% {
            font-weight: 900; 
            /*niveaux de graisse à l'interieur du coeur*/
            background: linear-gradient(201deg, #4a4a9e 0%, #9356dc 31%, #ff79da 100%);
            /* linear-gradient = dégradé. */
            background-clip: text;
            /* met la couleur uniquement dans le coeur */
            -webkit-text-fill-color: transparent; 
            /* remplace la couleur noir à l'interieur du coeur */
            -webkit-background-clip: text;
            /* couleur ne dépasse*/
    }
} 
 
/*animation du bouton favoris */

  .btn-favoris {
    display: flex;
    align-items: center;
    justify-content: center;
    /* 3 tous ça pour le rond */
    position: relative;
    left: 20px;
    /* 2 carré vert */
    margin: -10px 0px;
    width: 0px;
    /* ne soit pas visible sans hover */
    background-color: #99e2d0;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
    /* ne pas dépasser du block */
    transition: ease-in-out 250ms;
    /* la vitesse animation */
  }

  .choix:hover .btn-favoris {
    width: 80px;
    /* taille de la longeur) */
  }

  .description{
    width: 100%;
    /* déplacer*/
  }

  .fa-check-circle {
    color: white;
    font-size: 2em;
  }

  .choix:hover i {
    transform: rotate(360deg);
    transition-duration: 250ms;
  }

  footer a:hover{
    color: var(--violet);
    }

    /* pc */

  @media (min-width:991px){
     /* header */
     header{
        display: flex;
       justify-content: center;
    }
  
    .logo{
        display: flex;
       align-items: center;
        padding: 15px 20px 10px 20px;
        font-family: "Shrikhand", cursive;
    }
  
    .logo img{
        width: 140px;
    }
  
    .logo a{
        /* padding-right: 60px;  */
        position: absolute;
        left: 5%;
        color: black;
    } 
  
       /* section menu */
       .container{
        background-color: #f6f6f6;
       }

       .img img{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    h2{
        font-family: "Shrikhand", cursive;
    }
  
     .titre{
        display: flex;
        justify-content: space-between;
    }
  
    .titre .icone{
        display: flex;
        justify-content:center ;
        align-items: center;
        /* padding-left: 25%; */
        font-size: 25px;
        padding-right: 10%;
    }

    .menu{
        padding-top: 4%;
        padding-left: 5%;
        border-radius: 50px 50px 0 0;
        background-color: #f6f6f6;
        position: relative;
        bottom: 150px;
    }

    .titre2{
        padding-top: 2%;
        padding-bottom:2%;
    }
  
     .titre2 p{
        border-bottom: 3px solid #99E2D0;
        padding-bottom: 5px;
        width: 40px;
    }
  
    .choix{
        cursor: pointer;
        display: flex;
        background: #ffffff;
        justify-content: space-between;
        border-radius: 15px;
        margin-bottom:20px ;
        padding: 10px 20px 10px 10px;
        width: 94%;
        box-shadow: 0px 5px 10px 0px rgba(194, 194, 194, 0.78);
    }
  
    .description{
        line-height: 150%; /*sauter lignes */
    }
  
    .choix .prix{
        font-weight: 600;
        align-self: flex-end;  /* pour mettre le prix en bas */
    }
    
    .button{
        text-align: center;
        padding-top: 25px;
        padding-right: 3%;
    }
    button{
        cursor: pointer;
        background: linear-gradient(to top, #9256dc, #ff79d9);
        border: none;
       padding: 16px 50px;
       border-radius: 30px;
       box-shadow: 0px 2px 8px #00000069;
    }
  
    .button span{
        text-decoration: none;
        color: white;
    }

    /* footer */
    footer {
        background-color: #353535;
        color:white ;
        padding-left: 25px;
        padding-top: 25px;
    }
  
    .logof h3{
        display: flex;
        justify-content: center;
        color:white;
        font-family: 'Shrikhand', cursive;
        padding-bottom: 20px;
    }
  
    .proposition{
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }
  
    .mention{
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        font-weight: 300;
    }
    
    .contact{
        display: flex;
        justify-content: center;
        padding-bottom: 35px;
        font-weight: 300;
    }
  
    .proposition .icone{
        font-size: 12px;
    }
  
    footer a{
        text-decoration: none;
        color: white;
    }
  
    .lien a{
        padding-left: 13px;
    }
    
  }

    /* mobile */

@media (max-width:767px){

    /* header */
    header{
        display: flex;
       justify-content: center;
    }

    .logo{

        display: flex;
       align-items: center;
        padding: 15px 20px 10px 20px;
    }

    .logo h1{
        font-family: "Shrikhand", cursive;
    }

    .logo a{
        position: absolute;
        left: 5%;
        color: black;
    } 

       /* section menu */

       /* animations les ... dans favoris */
       .choix p{
        text-overflow: ellipsis;
        overflow: hidden;
       }

       .choix h4{
        text-overflow: ellipsis;
        overflow: hidden;   
       }
       /* fin des ... favoris */
       .container{
        background-color: #f6f6f6;
       }

       .container img{
        width:100%;
    }

    h2{
        font-family: "Shrikhand", cursive;
    }

     .titre{
        display: flex;
        justify-content: space-between;
    }

    .titre .icone{
        display: flex;
        justify-content:center ;
        align-items: center;
        font-size: 25px;
        padding-right: 10%;
    }

    .menu{
        padding-top: 10%;
        padding-left: 5%;
        border-radius: 50px 50px 0 0;
        background-color: #f6f6f6;
        position: relative;
        bottom: 50px;
    }

    .titre2{
        padding-top: 8%;
        padding-bottom:4%;
    }

     .titre2 p{
        border-bottom: 3px solid #99E2D0;
        padding-bottom: 5px;
        width: 40px;
    }
 
    .choix{
        cursor: pointer;
        display: flex;
        background: #ffffff;
        justify-content: space-between;
        border-radius: 15px;
        margin-bottom:20px ;
        padding: 10px 20px 10px 10px;
        width: 94%;
        box-shadow: 0px 5px 10px 0px rgba(194, 194, 194, 0.78);
    }
        /* animation bouton favoris */
    .choix .description{  
        white-space: nowrap;
        /* cache text */
        overflow: hidden;
        /* cache le text  */
     }  
     /* fin animation bouton favoris */
     .description{
        line-height: 150%; /*sauter lignes */
    }

    .description h4{
        font-size: 14.6px;
    }

    .description p{
        font-size: 12px;
    }

    .choix .prix{
        font-weight: 600;
        align-self: flex-end;  /* pour le mettre le prix en bas */
        
    }

    .button{
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 3%;
    }

    button{
        cursor: pointer;
        background: linear-gradient(to top, #9256dc, #ff79d9);
        border: none;
       padding: 16px 50px;
       border-radius: 30px;
       box-shadow: 0px 2px 8px #00000069;
    }

    .button span{
        text-decoration: none;
        color: white;
    }

     /* footer */
     footer {
        background-color: #353535;
        color:white ;
        padding-left: 25px;
        padding-top: 25px;
    }

    .logof h3{
        color:white;
        font-family: 'Shrikhand', cursive;
        padding-bottom: 20px;
    }

    .proposition{
        display: flex;
        padding-bottom: 10px;
    }

    .mention{
        padding-bottom: 10px;
        font-weight: 300;
    }
    
    .contact{
        padding-bottom: 35px;
        font-weight: 300;
    }

    .proposition .icone{
        font-size: 12px;
    }

    footer a{
        text-decoration: none;
        color: white;
    }

    .lien a{
        padding-left: 13px;
    }

 }

 /* tablette */
@media (min-width:768px) and (max-width:991px){
       /* header */
       header{
        display: flex;
       justify-content: center;
    }
  
    .logo{
        display: flex;
       align-items: center;
        padding: 15px 20px 10px 20px;
    }

    .logo h1{
        font-family: "Shrikhand", cursive;
    }

    .logo a{
        /* padding-right: 60px;  */
        position: absolute;
        left: 5%;
        color: black;
    } 

       /* section menu */
       .container{
        background-color: #f6f6f6;
       }
       .container img{
        width: 100%;
    }
    h2{
        font-family: "Shrikhand", cursive;
    }

     .titre{
        display: flex;
        justify-content: space-between;
    }

    .titre .icone{
        display: flex;
        justify-content:center ;
        align-items: center;
        /* padding-left: 25%; */
        font-size: 25px;
        padding-right: 10%;
    }
   
    .menu{
        padding-top: 10%;
        padding-left: 5%;
        border-radius: 50px 50px 0 0;
        background-color: #f6f6f6;
        position: relative;
        bottom: 110px;
    }

    .titre2{
        padding-top: 8%;
        padding-bottom:4%;
    }

     .titre2 p{
        border-bottom: 3px solid #99E2D0;
        padding-bottom: 5px;
        width: 40px;
    }

    .choix{
        cursor: pointer;
        display: flex;
        background: #ffffff;
        justify-content: space-between;
        border-radius: 15px;
        margin-bottom:20px ;
        padding: 10px 20px 10px 10px;
        width: 94%;
        box-shadow: 0px 5px 10px 0px rgba(194, 194, 194, 0.78);
    }

    .description{
        line-height: 150%; /*sauter lignes */
    }

    .choix .prix{
        font-weight: 600;
        align-self: flex-end;  /* pour le mettre le prix en bas */
    }

    .button{
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 3%;
    }
    button{
        cursor: pointer;
        background: linear-gradient(to top, #9256dc, #ff79d9);
        border: none;
       padding: 16px 50px;
       border-radius: 30px;
       box-shadow: 0px 2px 8px #00000069;
    }

    .button span{
        text-decoration: none;
        color: white;
    }

    /* footer */
    footer {
        background-color: #353535;
        color:white ;
        padding-left: 25px;
        padding-top: 25px;
    }

    .logof h3{
        display: flex;
        justify-content: center;
        color:white;
        font-family: 'Shrikhand', cursive;
        padding-bottom: 20px;
    }

    .proposition{
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }

    .mention{
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        font-weight: 300;
    }
    
    .contact{
        display: flex;
        justify-content: center;
        padding-bottom: 35px;
        font-weight: 300;
    }

    .proposition .icone{
        font-size: 12px;
    }

    footer a{
        text-decoration: none;
        color: white;
    }

    .lien a{
        padding-left: 13px;
    }

 }


